body{
  color: white;
  font-size: large;
}

.contacts img{
  width: 3em;
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 1.5em;
}

.contacts img:hover{
  box-shadow: 5px 5px 5px grey;
  width: 3.2em;
  border-radius: 1.5em;
}

.contacts{
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.5em;
  text-align: center;
}


nav>ul>li{
  display: inline-block;
  margin: 1em;

}

nav>ul>li>a{
  font-family: Arial;
  padding: 0.5em;
  font-weight: bold;
  text-decoration: none;

}

nav>ul>li>a:hover{
  color: blue;
}


.topbar, #imagetext{
  display: flex;
  color: white;
}

.topbar{
  justify-content: center;
  padding-top: 3em;
}

#title{
  display: flex;
  flex-direction: column;
}

#blue{
  color: blue;
}

#bold{
  font-weight: bold;
  color: skyblue;
}

#personal{
  width: 5em;
  height: 5em;
  margin-right: 0.5em;
  border-radius: 0.5em;
  box-shadow: 3px 3px 3px grey;
}

#myname{
  font-size: large;
  margin-bottom: -0.5em;
  padding-top: 0.8em;
}

#title h2{
  font-size: small;
  text-decoration: none;
  padding-top: 0;
}
#navbar{
  position: relative;
  right: 0;
}

h4{
  text-align: center;
}

#you{
  font-size: xx-large;
  margin-top: 6em;
}

#first{
  font-size: xx-large;
  text-align: center;
}

#index1{
  background-image: url("https://i.imgur.com/vIrpsIi.gif?noredirect");
  background-repeat: no-repeat;
  background-size: cover;
}

h2, h3, h4, h5, h6{
  text-align: center;
}

.projects img{
  width: 30em;
  height: 15em;
  margin: 2em;
  margin-bottom: 4em;
  box-shadow: 5px 5px 5px grey;
}

.projects{
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  margin-bottom: 5em;
  border-radius: 3em;
}

.individual>ol{
  display: flex;
  flex-direction: column;
}

.button{
  padding: 2em;
  color: blue;
}

.individual h5{
  font-size: x-large;
  color: red;
}

.individual h6{
  margin-top: -1em;
  margin-bottom: -0.5em;
  color: skyblue;
  font-size: large;
}

a{
  color: lightblue;
}

#red{
  color: red;
}

h5 strong{
  color: lightblue;
}

.everything{
  display: flex;
  text-align: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.col{
padding: 2em;
}

.lb{
  color: lightblue;
}

.col h3{
  text-decoration: underline;
}

h2{
  text-decoration: underline;
  font-size: xx-large;
  padding-top: 1.5em;
}

.individual h5{
  text-decoration: underline;
}

#contactme{
  text-align: center;
  padding: 3em;
}
#social{
  text-align: center;
  font-size: x-large;
  color: blue;
  text-decoration: underline;
}
