body{
  color: white;
  font-size: large;
}

.contacts img{
  width: 3em;
  margin-left: 2em;
  margin-right: 2em;
}

.contacts{
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.5em;
}


nav>ul>li{
  display: inline-block;
  margin: 1em;

}

nav>ul>li>a{
  font-family: Arial;
  padding: 0.5em;
  font-weight: bold;
  text-decoration: none;

}

nav>ul>li>a:hover{
  color: blue;
}


.topbar, #imagetext{
  display: flex;
  color: white;
}

.topbar{
  justify-content: center;
  padding-top: 3em;
}

#title{
  display: flex;
  flex-direction: column;
}

#blue{
  color: blue;
}

#bold{
  font-weight: bold;
  color: skyblue;
}

#personal{
  width: 5em;
  height: 5em;
  margin-right: 0.5em;
  border-radius: 0.5em;
}

#myname{
  font-size: large;
  margin-bottom: -0.5em;
  padding-top: 0.8em;
}

#title h2{
  font-size: small;
}
#navbar{
  position: relative;
  right: 0;
}

h4{
  text-align: center;
}

#you{
  font-size: xx-large;
  margin-top: 6em;
}

#first{
  font-size: xx-large;
  text-align: center;
}

#index1{
  background-image: url("https://i.pinimg.com/originals/11/5c/6d/115c6d4ee8a376727525d043924c1a5c.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

h2, h3, h4, h5, h6{
  text-align: center;
}

.projects img{
  width: 30em;
  height: 15em;
  margin-right: 2em;
  margin-bottom: 4em;
}

.projects{
  display: flex;
}

.individual>ol{
  display: flex;
  flex-direction: column;
}

.button{
  padding: 5em;
}

.individual h5{
  font-size: x-large;
  color: maroon;
}

.individual h6{
  margin-top: -2em;
  margin-bottom: -1em;
  color: blue;
  font-size: small;
}

a{
  color: lightblue;
}

#maroon{
  color: maroon;
}
